<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Questionare</h2>
        <form class="form">
            <label for="sailor-id">Sailor ID: <span class="symbol-required"></span>*</label>
            <input type="text" name="sailor-id" id="sailor-id" required>
            <span id="errorSailorID" class="errors-text"></span>

            <label for="club-id">Club ID: <span class="symbol-required"></span>*</label>
            <input type="text" name="club-id" id="club-id" required>
            <span id="errorSurname"></span>

            <label for="date-from">Date from: <span class="symbol-required"></span>*</label>
            <input type="date" name="date-from" id="date-from" required>
            <span id="errorDateFrom"></span>

            <label for="date-to">Date to: <span class="symbol-required"></span>*</label>
            <input type="date" name="date-to" id="date-to" required>
            <span id="errorDateTo"></span>

            <div class="form-buttons">
                <p id="errorSummary"></p>
                <input type="submit" class="form-button-submit" value="Add"/>
                <a href="membership-list.html" class="form-button-cancel">Cancel</a>
            </div>
        </form>
    </main>
<%- include('../../fragments/footer.ejs') %>