<%- include('../../fragments/header.ejs')%>
    <main>
        <script type="application/javascript" src="/js/validationCompetitorForm.js"></script>        
        <h2>Questionare</h2>

        <form class="form">
            <label for="name">Name: <span class="symbol-required"></span>*</label>
            <input type="text" name="name" id="name" required>
            <span id="errorName" class="errors-text"></span>

            <label for="surname">Surname: <span class="symbol-required"></span>*</label>
            <input type="text" name="surname" id="surname" required>
            <span id="errorSurname"></span>

            <label for="birthdate">Date of Birth: <span class="symbol-required"></span>*</label>
            <input type="date" name="birthdate" id="birthdate" required>
            <span id="errorBirthdate"></span>

            <label for="dighy">Dighy:</label>
            <input type="text" name="dighy" id="dighy">
            <span id="errorDighy"></span>

            <label for="sailNumber">Sail number:</label>
            <input type="number" name="sailNumber" id="sailNumber">
            <span id="errorSailNumber"></span>

            <div class="form-buttons">
                <p id="errorSummary"></p>
                <input type="submit" class="form-button-submit" value="Add"/>
                <a href="competitor-list.html" class="form-button-cancel">Cancel</a>
            </div>
        </form>
    </main>
<%- include('../../fragments/footer.ejs')%>