<%- include('./fragments/header.ejs')%>
    <main>
        <h2><%= __('title.content') %></h2>
        <p>
            <%= __('title.text') %>
        </p>
    </main>
<%- include('./fragments/footer.ejs')%>