<%- include('./fragments/header.ejs')%>
    <main>
        <h2>Main page</h2>
        <p>
            Formula Kite is the equipment selected for the kiteboarding events in the 2024 Olympic Games but also for Regional Games (like the Panamerican and Central American & Caribbean Games), World and Continental Beach Games, the World Sailing World Championships, World Sailing Youth World Championships, and the Youth Olympic Games.
        </p>
    </main>
<%- include('./fragments/footer.ejs')%>