<%- include('../../fragments/header.ejs')%>
    <main>
        <h2>Clubs</h2>
        <list>
            <table class="table-list">
                <thead>
                    <th>Name</th>
                    <th>County</th>
                    <th>Owner</th>
                    <th>Budget</th>
                    <th>Actions</th> 
                </thead>

                <tbody>
                    <tr>
                        <td>Fir</td>
                        <td>Mazowieckie</td>
                        <td>Jerzy Jodłowski</td>
                        <td>100 000</td>
                        <td>
                            <ul class="list-actions">
                                <li>
                                    <a href="" class="list-actions-button-details">Details</a>
                                </li>
                                <li>
                                    <a href="" class="list-actions-button-edit">Edit</a>
                                </li>
                                <li>
                                    <a href="" class="list-actions-button-delete">Delete</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Sindbad</td>
                        <td>Mazowieckie</td>
                        <td>Jakub Rosłoń</td>
                        <td>100 000</td>
                        <td>
                            <ul class="list-actions">
                                <li>
                                    <a href="club-form-details.html" class="list-actions-button-details">Details</a>
                                </li>
                                <li>
                                    <a href="" class="list-actions-button-edit">Edit</a>
                                </li>
                                <li>
                                    <a href="" class="list-actions-button-delete">Delete</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Arka Gdynia</td>
                        <td>Mazowieckie</td>
                        <td>Patryk Lutomski</td>
                        <td>50 000</td>
                        <td>
                            <ul class="list-actions">
                                <li>
                                    <a href="" class="list-actions-button-details">Details</a>
                                </li>
                                <li>
                                    <a href="" class="list-actions-button-edit">Edit</a>
                                </li>
                                <li>
                                    <a href="" class="list-actions-button-delete">Delete</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>           
        </list>
        <p><a href="../club/club-form.html" class="button-add">Add</a></p>
    </main>
<%- include('../../fragments/footer.ejs')%>