<%- include('../../fragments/header.ejs')%>
    <main>
        <h2>Questionare</h2>
        <form class="form">
            <label for="club-name">Club name: <span class="symbol-required"></span>*</label>
            <input type="text" name="club-name" id="club-name" required>
            <span id="errorName" class="errors-text"></span>

            <label for="county">County: <span class="symbol-required"></span>*</label>
            <input type="text" name="county" id="county" required>
            <span id="errorSurname"></span>

            <label for="owner">Owner: <span class="symbol-required"></span>*</label>
            <input type="text" name="owner" id="owner" required>
            <span id="errorBirthdate"></span>

            <label for="budget">Budget:</span></label>
            <input type="number" name="budget" id="budget" required>
            <span id="errorBirthdate"></span>

            <div class="form-buttons">
                <p id="errorSummary"></p>
                <input type="submit" class="form-button-submit" value="Add"/>
                <a href="club-list.html" class="form-button-cancel">Cancel</a>
            </div>
        </form>
    </main>
<%- include('../../fragments/footer.ejs')%>